@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

html {
  scroll-behavior: smooth;
  scrollbar-color: #e62621 black;
}

body {
  overflow-x: hidden;
}

.swiper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.swiper-slide {
  @apply drop-shadow-md;
}

.swiper-pagination {
  position: static;
}

.swiper-pagination-bullet-active {
  background: #e62621;
}
